p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

img {
    display: block;
    width: 275px;
    height: 160px;
    object-fit: cover;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1200px;
}

/* Search field */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: purple;
}
.search-form {
    position: relative;
    display: inline-flex;
}

button {
    position: absolute;
    right: 0;
    height: 100%;
    font-size: 20px;
    background-color: silver;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), opacity(.2);
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.search-form-input {
    padding: 15px;
    border: none;
    outline: none;
}

.search-input {
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), opacity(.2);
    border-color: transparent;

}

/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lightbox {
    color: black;
    text-decoration: none;
}

.photo-card {
    margin-top: 30px;
    margin-left: 30px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

.info-number {
    margin-top: 5px;
    font-weight: 400;
    font-size: 11px;
}

.loader { 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid rgb(159, 157, 157);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
    top: 150px;
    left: 50%;
}

.sl-wrapper .sl-navigation button.sl-prev:hover,
.sl-wrapper .sl-navigation button.sl-next:hover {
    color: purple;
}

.sl-close:hover {
    border-radius: 50%;
    background-color: rgba(125, 125, 125, 0.5);
    color: purple;
}

.loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-left: 4px solid rgb(255, 100, 0);
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
} 

